name: Build

on:
  push:
    paths-ignore:
      - '.github/**'
      - '!.github/workflows/**'
      - 'README.md'
  pull_request:
    paths-ignore:
      - '.github/**'
      - '!.github/workflows/**'
      - 'README.md'
  workflow_dispatch:

jobs:
  Init:
    runs-on: ubuntu-latest
    steps:
    - name: Create build tag
      run: |
        export BUILD_TAG=build-$(date -u +'%Y%m%d%H%M')
        echo "BUILD_TAG=$BUILD_TAG" >> $GITHUB_ENV
        echo -n $BUILD_TAG > tag
    - name: Upload artifacts
      uses: actions/upload-artifact@v6
      with:
        name: tag
        path: tag

  Ubuntu:
    name: Build for Ubuntu
    runs-on: ubuntu-latest
    needs: Init
    strategy:
      matrix:
        configuration: ["Debug"]
        include:
        - configuration: Debug
          build_param: --debug
          artifact_name: xemu-ubuntu-debug
          artifact_filename: xemu-ubuntu-debug.tgz
        - configuration: Release
          build_param:
          artifact_name: xemu-ubuntu-release
          artifact_filename: xemu-ubuntu-release.tgz
    steps:
    - name: Clone tree
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          libepoxy-dev \
          libgtk-3-dev \
          libpixman-1-dev \
          libsdl2-dev \
          libsamplerate0-dev \
          libpcap-dev \
          ccache \
          ninja-build \
          libglu1-mesa-dev
    - name: Initialize compiler cache
      id: cache
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
      with:
        path: /tmp/xemu-ccache
        key: cache-${{ runner.os }}-${{ matrix.configuration }}-${{ github.sha }}
        restore-keys: cache-${{ runner.os }}-${{ matrix.configuration }}-
    - name: Compile
      run: |
        export CCACHE_DIR=/tmp/xemu-ccache
        export CCACHE_MAXSIZE=512M
        export PATH="/usr/lib/ccache:$PATH"
        ./build.sh ${{ matrix.build_param }} --extra-cflags="-fuse-ld=gold"
        echo -e "\nCompiler Cache Stats:"
        ccache -s -c
        tar -czvf ${{ matrix.artifact_filename }} --transform "s#^dist#xemu#" dist
    - name: Upload build artifact
      uses: actions/upload-artifact@v6
      with:
        name: ${{ matrix.artifact_name }}
        path: ${{ matrix.artifact_filename }}
